<div class="container">
    <h3 class="text-center">About</h3>
        <p>
        What about Free Video Player? The idea is to create a javascript HTML5 video player that is able to play adaptive bitrate streams
        aswell as regular video boxes, such as mp4 etc. The open source license is GPLv3, see <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">http://www.gnu.org/licenses/gpl-3.0.en.html</a>
        for more information.
        </p>

        <p>
        There are a number of different video players based on HTML5 technologies both commercial versions (closed source) and some open source, but most of (if not all) video players claiming to use open source are only using a more narrow license (Apache) which in turn does not provide full transparency and ensuring that the actual code will remain "free" to the end user as described in <a href="http://www.gnu.org/philosophy/philosophy.html">http://www.gnu.org/philosophy/philosophy.html</a>.
        For more information about free software check out the <a href="http://www.fsf.org/">Free Software Foundation</a>.
        There are other video players and also open source video players, but none using the GPLv3 license so far I know of.
        The project is available @ <a href="https://github.com/DaWoody/free-video-player">GitHub</a>a
        For more information about the API and methods used check <a href="/documentation/freevideoplayer/index.html">Free Video Player Docs</a>.
            </p>
        <p>
        The main idea is to utilize the <a href="https://www.w3.org/TR/media-source/">Source Media Extension</a> module when available and in the future the
        <a href="https://www.w3.org/TR/encrypted-media/">Encrypted Media Extension</a> module to build the player methodologies around.
        Check out the <a href="#/installing">Installation</a> page to get more info about how to install the <a href="http://www.freevideoplayer.org">Free Video Player</a>.
        </p>
</div>
