<div class="container">
    <h4 class="free-video-player-header">Codecs</h4>

    <table class="table-striped free-video-player-codecs-table">
        <tr>
            <th>
                Releases
            </th>
            <th>
                Description/Information
            </th>
        </tr>
        <tr>
            <td>
                0.9.0
            </td>
            <td>
                - ALPHA release. First release of Free Video Player
            </td>
        </tr>
    </table>

</div>