<div class="container">
    <h3 class="text-center">Contribute</h3>
    <p>
       Wonderful that you are interested in helping us out with this! :) You can check out the <a href="http://p.freevideoplayer.org/maniphest/query/open/">issue tracker</a> for information on current issues/tickets (create an account and add your own wishes there :)).
        You can fork the project from the <a href="http://github.com/dawoody/freevideoplayer.git">GitHub repo</a>, or just <a href="#/contact">contact us</a> for more feedback or other interesting stuff you think
        we could bring to this project and you might help us with! :)
    </p>
</div>