<div class="container" ng-controller="contributeController">
    <h4 class="free-video-player-header">Contribute</h4>
    <p>
       Wonderful that you are interested in helping us out with this! :) You can check out the <a href="https://github.com/AwesomeNinjaKittens/free-video-player/issues">issue tracker</a> for information on current issues/tickets.
        You can fork the project from the <a href="https://github.com/AwesomeNinjaKittens/free-video-player">GitHub repo</a>, or just <a href="#/contact">contact us</a> for more feedback or other interesting stuff you think
        we could bring to this project and you might help us with! :)
    </p>
</div>