<div class="container" ng-controller="downloadController">
    <h4 class="free-video-player-header">Download</h4>
    <p>
        This is the download page here. Will provide a download link redirected to the GitHub repo, when a relese is available.
        Going for the ALPHA release first ;).
    </p>

    <p> All releases available <a href="https://github.com/DaWoody/free-video-player/releases">here</a>.</p>

    <table class="table-striped free-video-player-table">
        <tr>
            <th>
                Releases
            </th>
            <th>
                Description/Information
            </th>
        </tr>
        <tr>
            <td>
                0.9.0
            </td>
            <td>
                - ALPHA release. First release of Free Video Player
            </td>
        </tr>
    </table>

</div>
