<div class="container" ng-controller="downloadController">
    <h4 class="free-video-player-header">Download</h4>

    <p>All releases are available <a href="https://github.com/DaWoody/free-video-player/releases">here</a>.</p>

    <table class="table-striped free-video-player-table">
        <tr>
            <th>
                Releases
            </th>
            <th>
                Description/Information
            </th>
        </tr>
        <tr>
            <td>
                <a href="https://github.com/DaWoody/free-video-player/releases/tag/v0.9.0_free_video_player_release">0.9.0</a>
            </td>
            <td>
                <b>ALPHA</b> release. First release of Free Video Player.
                Includes:
                <ul>
                    <li>Ability to play adaptive VOD content in the form of <b>DASH</b></li>
                    <li>Aswell as regular VOD content with containers such as <b>MP4</b> and <b>WEBM</b></li>
                    <li>Modularized player code into modules - for better code separation and enabling for a future module based system</li>
                    <li>Optional configuration object when <a href="#/installing">instantiating</a> Free Video Player, being able to show/hide specific video controls</li>
                    <li>Ability to alter <i>CSS</i> classes and <i>HTML</i> of video controls being generated</li>
                    <li>The video controls being generated includes support for <i>spacebar</i> working as play/pause button, and <i>enter</i> button acting as toggling between fullscreen mode. The user can exit the fullscreen mode by pressing <i>esc</i></li>
                    <li>Support in <i>Chrome</i>, <i>Safari</i>, <i>Opera</i> and <i>FireFox</i></li>
                    <li>For adaptive <b>DASH</b> content, support for multiple bitrates exists</li>
                    <li>For adaptive <b>DASH</b> content, built in adaptive bitrate algorithm for multiple bitrates exists. This is currently based on the download times for each segment</li>
                    <li>For adaptive <b>DASH</b> content, support for subtitles exists, for non-segmented subtitle VTT files, added as a separate <b>adaptionSet</b> within the mpd</li>
                    <li>For adaptive <b>DASH</b> content, support for both separated video and audio tracks, aswell as muxxed (video and audio combined) exists</li>
                    <li>The release comes with a fully documented version (<i>free.video.player.full.js</i>) and a minified version (<i>free.video.player.minified.js</i>), a css file for player styles (<i>free.video.player.style.css</i>), aswell as base files for <b>SCSS</b> (for web-designers/developers wanting to just style the player a bit), a documentation folder including <b>JSDOC</b> based documentation more explicitly describing the Free Video Player API and more, a subtitles folder with a parsed <i>JSON</i> file including information for subtitle labels which Free Video Player per default utilizes if subtitles are found within a <b>DASH</b> stream, and finally the release also contains both a <i>README</i> and a <i>LICENSE</i> file</li>.
                </ul>
            </td>
        </tr>
    </table>

</div>
