<div class="container">
    <h4 class="free-video-player-header">THE FREE HTML5 VIDEO PLAYER</h4>
    <p>
        <b>Welcome</b> to the Free Video Player project! This is a
        <a href="http://www.w3schools.com/html/html5_video.asp">HTML5</a>
        based open source free video player that has the goal to provide the possibility of playing both regular video
        content aswell as adaptive streaming technologies such as DASH and HLS. What it is? This is an Open Source Video Project following the
        <a href="https://fsfe.org/campaigns/gplv3/gplv3.en.html">GPLv3 license</a>.
        <a href="#/about">Wanna know more?</a>
    </p>
    <ul class="video-bullet-list fa-ul">
        <li><i class="fa-li fa fa-check-square"></i><a href="#/download">Download for free</a></li>
        <li><i class="fa-li fa fa-check-square"></i><a href="https://github.com/DaWoody/free-video-player">Contribute as a developer</a></li>
        <li><i class="fa-li fa fa-check-square"></i><a href="https://fsfe.org/campaigns/gplv3/gplv3.en.html">Open Source - GPLv3</a></li>
        <li><i class="fa-li fa fa-check-square"></i><a href="http://www.w3schools.com/html/html5_video.asp">HTML5</a> Technology - Adaptive Streams</li>
        <li><i class="fa-li fa fa-check-square"></i>Plays DASH/MP4/AND REGULAR WEB CONTENT</li>
        <li><i class="fa-li fa fa-check-square"></i>Handles subtitles for VOD (Video On Demand) content</li>
        <li><i class="fa-li fa fa-check-square"></i>Video Controls API</li>
    </ul>

    <div class="js-free-video-player-container free-video-player-container-style"></div>

    <div class="load-form-div container">
        <form class="well" role="form" ng-submit="load()">
            <fieldset class="form-group">
                <input class="form-control" type="text" ng-model="form.mpdurl" placeholder="Video Url" value="">
                <input class="btn btn-info form-control" type="submit" value="LOAD VIDEO">
            </fieldset>
            <span>Free Video Player version: {{ form.playerVersion }}</span>
            <div>Loading..  {{ form.mpdurl }}</div>
        </form>
    </div>

    <div class="container all-video-asset-wrapper">
        <div id="asset-list">
            <div class="video-asset-container">
                <img class="shadow" src="/images/assets/big-buck-bunny-mp4.png" data-video-url="/assets/localNonAdaptiveStreams/big_buck_bunny.mp4" alt="Big Buck Bunny">
                <h5 class="text-center">Big Buck Bunny</h5>
            </div>

            <div class="video-asset-container">
                <img class="shadow" src="/images/assets/big-buck-bunny-dash.png" data-video-url="/assets/localNonAdaptiveStreams/big_buck_bunny.mp4" alt="Big Buck Bunny">
                <h5 class="text-center">Big Buck Bunny</h5>
            </div>

            <div class="video-asset-container">
                <img class="shadow" src="/images/assets/sintel-dash.png" data-video-url="http://cdn.labs.h3.se/video/sintel/mpeg-dash/baseline_30_aac_lc/test.mpd" alt="Big Buck Bunny">
                <h5 class="text-center">Sintel</h5>
            </div>
        </div>
    </div>
</div>

